*.sdf
Reading/*
Data/Processed/0.0.0-Williams.csv
Data/Processed/0.1.0-Williams.csv
Data/Combined/LargeFiles/*
Data/SourceData/*.pdf

**/__pycache__/*
.venv/*
311env/*
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz